/* Hard Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Soft Reset */
*{
    box-sizing:border-box;
    /*border:1px solid grey;*/
    max-width:100%;
}
html{
    font-size:62.5%;    
}
body{
    font-size:1.6rem;
    line-height:1.2;
}
a{
    text-decoration:none;
    color:#4f4f4f;
}
h1{
    font-size:6rem;
    padding:2% 2%;
    text-decoration:underline;
}
h2{
    font-size:4rem;
    padding:2% 0;
}
h3{
    font-size:3rem;
    padding:2% 2%;
}
/* Header */
header{
    width:30%;
    margin:2% 2%;
    text-align:center;
    background:lavender;;
}
header nav{
    display:flex;
    justify-content:space-evenly;
    font-size:2rem;
    padding:2% 0;
}
/* First Section */
.firstSection{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    text-align:center;
    flex-wrap:wrap;
}
.firstSection img{
    border-radius:25px;
}
.firstSection div{
    padding:10%;  
    max-width:50%; 
}
/* Second Section */
.secondSection{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:2% 2%;
    text-align:center;
}
.secondSection div{
    padding:5%;
}
/* Footer */
footer{
    text-align:center;
    margin:2% 2%;
    background:lavender;
}
footer div{
    margin:1% 0;
}
footer div a{
    margin:2%;
}